In [1]:

pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/homebrew/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
pd.__version__

'1.5.0'

In [4]:
pd.read_csv('/Users/chuks/Docker/yellow_tripdata_2021-01.csv')

/var/folders/16/yt52lkb905s6_03mhsdqrmr80000gn/T/ipykernel_93236/550436069.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('/Users/chuks/Docker/yellow_tripdata_2021-01.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [5]:
df=pd.read_csv('/Users/chuks/Docker/yellow_tripdata_2021-01.csv',nrows=100)

In [6]:
engine= create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)

In [8]:
# generate sql statment used to create tables for ppstgres database
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/homebrew/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (1.4.41)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine

In [10]:
engine= create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [27]:
import psycopg2

In [11]:
engine.connect()

In [12]:
# split our data frame into chunks for batch processing into database
df_iter = pd.read_csv('/Users/chuks/Docker/yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [13]:
df_iter

In [14]:
df=next(df_iter)

In [15]:
len(df)

100000

In [16]:
# format columns to timestamps
df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)

In [20]:
# list out column names
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [22]:
# create postgres column names from datafrae column names
df.head(0).to_sql(name="yellow_taxi_data",con=engine,if_exists='replace')

0

In [23]:
# append first data chunks to table
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

1000

In [24]:
# append the remaning data chunks to the table 
while True:
    df=next(df_iter)
    # format columns to time stamp
    df.tpep_dropoff_datetime= pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
    # load data into our database
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    print('inserted another chunk')

inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk
inserted another chunk

/var/folders/16/yt52lkb905s6_03mhsdqrmr80000gn/T/ipykernel_93236/918774894.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk
inserted another chunk

StopIteration: